version: '3.9'

services:
  n8n:
    image: n8nio/n8n
    restart: unless-stopped
    environment:
      - GENERIC_TIMEZONE=America/Chicago
      - N8N_ENCRYPTION_KEY=${N8N_KEY}
      - N8N_HOST=n8n
      - N8N_PORT=5678
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n

  metabase:
    image: metabase/metabase
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MB_DB_FILE=/metabase-data/metabase.db
    volumes:
      - metabase_data:/metabase-data

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile

volumes:
  n8n_data:
  metabase_data:
